@media screen and (min-width: 500px) {
  .try-it-btn {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

@media screen and (min-width: 620px) {
  .wrapper {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1024px) {

  body {
    height: 100vh;
    padding-bottom: 20px;
    text-align: left;
  }
  .wrapper {
    height: 100%;
    max-width: 1000px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  header {
    flex: 1 1 50%;
  }

  .sign-up-section {
    flex: 1 1 50%;
    padding-left: 70px;
  }

  footer {
    flex-basis: 100%;
    align-self: flex-end;
  }
}
